.profile {
  display: flex;
  justify-content: space-between;
  margin: 40px auto 51px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .profile {
    margin: 42px auto 36px;
    flex-direction: column;
    align-items: center;
  }
}
