.add-button {
  background: center no-repeat url("../../images/Vector+.svg");
  background-size: 22px 22px;
  width: 11.7vw;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  align-self: center;
}

.add-button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

@media screen and (min-width: 1280px) {
  .add-button {
    max-width: 150px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .add-button {
    width: 100%;
    background-size: 16px 16px;
  }
}
