.form__submit-button {
  background: #000000;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /* 18px */
  line-height: 1.22em;
  /* 22px */
  color: #FFFFFF;
  border: none;
  width: 100%;
  padding: 14px 0;
}

.form__submit-button:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

@media screen and (min-width: 1280px) {
  .form__submit-button {
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  .form__submit-button {
    font-size: 14px;
  }
}
