.grid-places {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
  margin-bottom: 67px;
}

@media screen and (max-width: 1023px) {
  .grid-places {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .grid-places {
    grid-template-columns: 1fr;
    margin-bottom: 48px;
  }
}
