.grid-places {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  gap: 17px;
  margin-bottom: 67px;
}

@media screen and (max-width: 767px) {
  .grid-places {
    margin-bottom: 48px;
  }
}
