.profile__avatar {
  width: 120px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  grid-area: 'avatar';
}

@media screen and (max-width: 767px) {
  .profile__avatar {
    margin: auto;
  }
}
