.popup__close-icon {
  border: none;
  width: 32px;
  aspect-ratio: 1 / 1;
  background: center / cover no-repeat url("../../../images/close-icon.svg");
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close-icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup__close-icon {
    width: 20px;
    top: -36px;
    right: 0;
  }
}
