.header {
  width: 68.75%;
  margin: auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 880px;
    width: 100%;
  }
}


@media screen and (max-width: 1023px) {
  .header {
    width: clamp(78.39vw, 78.39vw, 68.75vw);
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: 100%;
  }
}
