.form {
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 1 / 0.767;
  /* 330px */
}

@media screen and (max-width: 425px) {
  .form {
    width: clamp(88.1vw, 88.1vw, 38.7vw);
    /* 282px */
    aspect-ratio: 1 / 1.14;
  }
}
