.form__input-error_active {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  position: fixed;
  flex-wrap: wrap;
  max-width: 358px;
  width: 100%;
}

@media screen and (max-width: 425px) {
  .form__input-error_active {
    max-width: 74.31vw;
    width: 100%;
    position: relative;
  }
}
